@import './Defaults/Default.scss';
@import './Header/Header.scss';
@import './PartsStyle/Left/LeftSideStyle.scss';
@import './HomePageStyle/Home.scss';
@import './PartsStyle/Right/RightSideStyle.scss';

body {
    margin: 0;
    font-family: $global-font-family;
}

.app {
    display: flex;
    height: 100vh;
    width: 100%;
    hr {
        margin: 0;
        height: 100%;
        width: 1.75px;
        background-color: #7EBAFF;
        border:#7EBAFF;
    }
}

// @media only screen and (max-width: 1000px) {
//     .app {
//         flex-direction: column;
//     }
// }