.rightSide {
    font-family: $global-font-family;
    padding: 1.5rem 1rem;
    flex-grow: 1;
    flex: .18;
}

a {
    text-decoration: none;
}

.twitterTitle {
    display: flex;
    span {
        color: $global-twitter-color;
    }
    .twitterFarsi {
        font-size: 21px;
        font-weight: 600;
        margin-top: 12px;
    }

    .icon {
        font-size: 40px;
        margin-left: 21px;
    }
}
.hashtagsContainer{
    height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: black;
    }
}

.hashtagTittle {
    font-size: 1.25rem;
    margin: {
        top: 3rem;
        bottom: 2rem;
    }
}

.hashtagButton {
    cursor: pointer;
    border: none;
    background-color: white;
    font-family: $global-font-family;
    margin-bottom: 0.8rem;
    width: 100%;
    .hashtagContainer {
        display: flex;
        .hashtagIcon {
            align-items: center;
            border: 3px solid black;
            border-radius: 12px;
            width: 30px;
            height: 30px;
            font-size: 20px;
            .hashtagSelf {
                margin-top: 5px;
            }
        }
        .hashtagSubject {
            margin: {
                top: 0.5rem;
                right: 0.8rem;
            }
            font-size: 1rem;
        }
    }
    .hashtagSubject:hover {
        color: rgb(0, 179, 255);
    }
}
