// the whole container of posts
.post {
    font-family: $global-font-family;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    margin-top: 7px;
    flex: 1;
    
    // .posterImg {
    //     width: max-content;
    // }
    .temporarily { // a temporarily used icon instead of picture untill the api arrives
        width: max-content;
    }
    // the user posted this tweet with his persian name, id, img
    .posterProfile {
        display: flex;
        flex-direction: row;
        // tweet user persian name
        .posterPersianName {
            margin-right: 1rem;
        }
        // id of the user that posted the tweet
        .posterID {
            font-size: 0.9rem;
            color: #808080;
            margin: {
                top: 0.1rem;
                right: 0.5rem;
            }
        }
    }
    // the text part of post
    .postText {
        margin-top: 1rem;
        font-size: .95rem;
        // all hashtags that are found will have this style (this is the way of finding the changed html tag in css
        a {
            text-decoration: none;
            color: $global-twitter-color;
        }
    }
    // post like and retweet button container
    .postStuffContainer {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 15px;
        // post retweet btn
        .reTweetButton {
            max-width: 35px;
            max-height: 33px;
            cursor: pointer;
            color: $global-twitter-color;
            background-color: white;
            border-radius: 50%;
            border: 0.5px solid gray;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;
            // retweet icon
            .reTweetIcon {
                font-size: 16px;
            }
        }
        // post like btn
        .likeButton {
            max-width: 35px;
            max-height: 32px;
            cursor: pointer;
            color: red;
            background-color: white;
            border-radius: 50%;
            border: 0.5px solid gray;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;
            // like icon
            .likeIcon {
                font-size: 16px;
            }
        }
        // like num
        .likeNumber {
            color: gray;
            padding: 7px 10px;
        }
    }
}
