@import './Header/Header.scss';
@import './NewTweetSlot/NewTweet.scss';
@import './Posts/Posts.scss';

.mainSide {
    font-family: $global-font-family;
    background-color: #e6e6e6;
    overflow-y: auto;
}

.headerDivider {
    background-color: #7EBAFF;
    filter: opacity(.2);
    width: 100%;
    height: 1.5px;
}