.header {
    display: flex;
    padding: 20px;
    background-color: white;
}

.homeIcon {
    font-size: 1.2rem;
}

.homeTittle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: .5rem;
}