.header {
    display: flex;
    padding: 20px;
    background-color: white;
}

.hamburger {
    display: none;
}

.headerIcon {
    font-size: 1.2rem;
}

.headerTittle {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: .5rem;
}

.headerDivider {
    background-color: #7EBAFF;
    filter: opacity(.2);
    width: 100%;
    height: 1.5px;
}

@media only screen and (max-width:850px) {
    .hamburger {
        display: inline-block;
        cursor: pointer;
        font-size: 1.2rem;
        margin-left: 1rem;
    }
}